<sly data-sly-use.model="com.adobe.aem.training.core.models.ListOfCardModel">
	<h2>List of Card Component </h2>

	<sly data-sly-list.item="${model.cardList}">
        <div class="card">
          <img src="${item.cardImage}" alt="Avatar" style="width:15%">
          <div class="container">
            <h4><b>${item.fullName}</b></h4>
            <p>${item.description}</p>
          </div>
        </div>
		<p> Food Items </p>
		<ul data-sly-list.foodItem="${item.foodItems}">
			<li> ${foodItem} </li>
		</ul>
	</sly>
</sly>