<sly data-sly-use.cardModel="com.adobe.aem.training.core.models.CardModel">
    <h2> Card Component </h2>
    <div class="card">
      <img src="${cardModel.cardimage}" alt="Avatar" style="width:15%">
      <div class="container">
        <h4><b>${cardModel.fullname}</b></h4>
        <p>${cardModel.description}</p>
      </div>
    </div>
</sly>
