<h2> Sling Models - Annotations Test Component </h2>


<sly data-sly-use.model="${'com.adobe.aem.training.core.models.TestModel' @ link='Hello World'}"/>


<p> Request Attribute Modified Value: ${model.link} </p>